//============== header page backup=================
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">TheWeber</a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-text pull-right">
              <li class="">
                <a href="#" class="navbar-link" id="just"></a>
              </li>
              <li class="active">
                  <div class="btn-group">
                      <a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
                      {{ user.username }}
                      <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                          <li><a tabindex="-1" href="">Goto Profile</a></li>
                          <li><a tabindex="-1" href="#">Change Settings</a></li>
                          <li><a tabindex="-1" href="#">Privacy</a></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="/theweber.in/logout">Logout</a></li>
                      </ul>
                  </div>
              </li>
            </ul>
            <ul class="nav">
              <li class="active"><a href="/theweber.in/home">Home</a></li>
              <li><a href="/theweber.in/profile/{{user.username}}/">Goto Profile</a></li>
              <li><a href="matchme.html">Matchme</a></li>
              <li><a href="messages.html">Messages</a></li>
              <li>
                  {% csrf_token %}
                  <div  ng-controller="searchfriend_cntrl" ng-model="names_list">
                  <input type="text" ng-keyup="keyup()" ng-model="search_text_box">
                     <div ng-repeat="temp_names in names_list">
                         <a  ng-href="/theweber.in/profile/[[ temp_names.username ]]/">[[ temp_names.username ]]</a>
                     </div>
                  </div>
                  <!--<div ng-controller="search_friend">
                        <input type="text" class="searchbox" id="search" placeholder="search Friends in weber" ng-keypress=""/>
                   </div>-->
                    <ul id="search-results"></ul>
              </li>

            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

        //===============home page backup===============

<div ng-controller = "myCtrl">
    <input type="file" file-model="myFile"/>
    <button ng-click="uploadFile()">upload me</button>
</div>




    <div class="container-fluid">
        <div class="span6">
            <div class="row-fluid">
                <div class="span4">
                    <div class="card">
                        <div class="row-fluid">

                            <div class="span2">
                            </div>
                            <div class="span8">

                            </div>
                            <div class="span2">

                            </div>
                        </div>
                        <div class="row-fluid">
                              <div class="span2">
                              <!--  <img id="myImg" src="/theweber.in/upload_profile_pic" class="">-->
                              </div>
                              <div class="span10">
                                  <a href=""><h3><strong>ashok bathu</strong></h3></a>
                              </div>
                        </div>
                    </div>
                </div>

                 <div class="span8"  ng-controller="new_post_cntrl" >
                    <div class="card">
                      <form  method="POST" name="postupdateform" id="postupdateform" ng-submit="submit()">
                          {% csrf_token %}
                        <div>
                            <textarea name="post_text" ng-model="post_text" id="post_text"
                                      spellcheck="true" rows="5" cols="10" style="margin-left:6%;"
                                      placeholder="post your thought here" required="required"></textarea>
                        </div>
                        <div>
                            <select id="permission_type" name="permission_type" ng-model="permission_type"
                                    ng-options="permission.name for permission in permissions">
                            </select>
                            <input id="saveForm" class="btn btn-default pull-right" name="saveForm" type="submit" value="post thought" style="margin-right:8%;">
                        </div>
                      </form>
                    </div>
                </div>


            <div id="userpostdiv">
            <div  ng-controller="disply_user_posts_cntrl">
            <div ng-repeat="user_post in test">
            <div class="mes"  id='[[user_post.id]]'>

            <div class="row-fluid">

                <div class="span12">

                    <div class="card">

                        <div class="card-heading image">

                           <div class="card-heading-header" style="border-bottom:1px solid lightgray;">
                              <h3><strong>[[user_post.username]] </strong></h3>
                              Location:
                                    <span><a href="">Miyapur</a></span>
                                    <small>&nbsp;&nbsp;&nbsp;date:<span><a href="">[[user_post.publish_date]]</a></span></small>
                           </div>

                         <div class="btn-group pull-right">
                           <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                  <li><a tabindex="-1" href="#">Unfollow Post</a></li>
                                  <li><a tabindex="-1" href="#">Delete This Post</a></li>
                                  <li><a tabindex="-1" href="#">Remove This Post</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="card-body">
                           <p>[[ user_post.title]]<p>

                              <a href="" class="btn"><strong>Write Comment</strong></a>&nbsp;&nbsp;&nbsp;
                              <a href="" class="btn"><strong>Follow Post</strong></a>
                            </p>
                        </div>
                    </div>
                </div><!--/span-->
            </div><!--/row-->
           </div>
          </div>
</div>
           </div>
        </div>
        <div class="span3" id="chat" style="display:none;">
          <div class="row-fluid">
            <div class="span12">

            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

    </div><!--/.fluid-container-->


//=============================angularjs cntrls backup================

        /*
//==============home function load userposts=================
var loadposts = angular.module("loadposts",[]).controller("disply_user_posts_cntrl",function($scope,$http){

//==================dynamic server sent code loading=============
if(typeof(EventSource)!=="undefined"){
    var out = document.getElementById('messages');
    //alert('th')
    var source = new EventSource('/theweber.in/sse/');
    function log() {
        console.log(arguments);
    }
    source.onopen = function() {
        //console.log('connection opend')
        };
    source.onerror = function () {
         //console.log(arguments);
     };
    source.onmessage = function() {
          source.addEventListener('myevent', function(e) {
                //console.log(data)
            }, false);
         };

}else
   alert('browser does not support server sent events');

source.addEventListener('myevent', function(e) {
        data = JSON.parse(e.data);

        var parentdiv = document.getElementById("userpostdiv")
        var childdiv = document.createElement("div")
        childdiv.innerHTML = e.data+"<br/>=======================================";
        parentdiv.insertBefore(childdiv,parentdiv.firstChild);

        console.log(data)
}, false);

//===========end of server sent events code

   $http.post('/theweber.in/loaded_userposts')
            .success(function(out_data) {
            $scope.test = out_data
            //console.log(out_data)
            })
});
loadposts.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[').endSymbol(']]');
});


//===================new post controller===================

// login controllers for angular js
var newpost = angular.module("new_post_app",[]).controller("new_post_cntrl",function($scope,$http,$location){
    $scope.permissions = [
    {name: 'private', value:1},
    {name: 'public', value: 2},
    {name: 'friends', value: 3}]
    $scope.permission_type=$scope.permissions[1];
    //console.log($scope.permission_type.value);

    $scope.submit = function() {
        $http.post('/theweber.in/post_status', { post_text: $scope.post_text,
                                                permission_type: $scope.permission_type.value
                                                })
            .success(function(data, status, headers, config) {
                //console.log(data)

           })
          .error(function(data, status, headers, config) {
               // console.log(data)

          });
    };
})
.config(['$httpProvider', function($httpProvider,$interpolateProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';

}]);

newpost.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[').endSymbol(']]');
});

//=============image upload controller============

var imageuploadapp = angular.module("imageuploadapp",['ngUpload']).controller("imageupload",function($scope,$http,$location){

$scope.complete = function(content) {
      //console.log(JSON.parse(content));
    }

});
//============profile pic upload code===============


var myApp = angular.module('myApp', []);

myApp.directive('fileModel', ['$parse', function ($parse) {
    return {
        restrict: 'A',
        link: function(scope, element, attrs) {
            var model = $parse(attrs.fileModel);
            var modelSetter = model.assign;

            element.bind('change', function(){
                scope.$apply(function(){
                    modelSetter(scope, element[0].files[0]);
                });
            });
        }
    };
}]);

myApp.service('fileUpload', ['$http', function ($http) {
    this.uploadFileToUrl = function(file, uploadUrl){
        var fd = new FormData();
        fd.append('file', file);
        //console.log(file)
        $http.post(uploadUrl,fd, {
            transformRequest: angular.identity,
            headers: {'Content-Type': undefined}
        })
        .success(function(data, status, headers, config){
        document.getElementById("myImg").src = data;
        //console.log(JSON.stringify(data))
        })
        .error(function(data){
       // console.log("error="+data)
        });
    }
}]);

myApp.controller('myCtrl', ['$scope', 'fileUpload', function($scope, fileUpload){

    $scope.uploadFile = function(){
        var file = ($scope.myFile);
        //console.log('file is ' + JSON.stringify(file));
        var uploadUrl = "/theweber.in/upload_profile_pic";
        fileUpload.uploadFileToUrl(file, uploadUrl);
        //console.log(response)
    };

}]);
//============end of profile pic===============


//================search bar==============

var searchfriend = angular.module('searchfriend', []);
searchfriend.controller('searchfriend_cntrl',['$scope','$http',function($scope,$http){

    $scope.keyup = function() {

        $http.post('/theweber.in/search', { search_text:  $scope.search_text_box })
            .success(function(data, status, headers, config) {
                console.log(data)
                $scope.names_list = data;



           })
          .error(function(data, status, headers, config) {
               // console.log(data)
          });
    };
}])
searchfriend.config(function($interpolateProvider){
$interpolateProvider.startSymbol('[[').endSymbol(']]');
})
//========================================



//==============get about all profile information==================

var profile_page_info = angular.module('profile_page_info', ['ngSanitize']);
profile_page_info.controller('profile_page_info_cntrl',['$scope','$http',function($scope,$http){

var url_parts = (document.URL).split("/")
var username = url_parts[url_parts.length-2]
  //$scope.keyup = function() {
  $http.post('/theweber.in/get_profile_info/'+username+'/', { search_text:  $scope.search_text_box })
            .success(function(data, status, headers, config) {
                  console.log(data)
                  $scope.selected_user_info = data
                  console.log(data['friendstatus'])
                  if(data['friendstatus'] == 'ownaccount'){
                    $scope.operationdiv = '<a href="#">update infoooo</a>';
                  }else if(data['friendstatus'] == 'friends'){
                    $scope.operationdiv = '<a href="#">unfriend</a>';
                  }else if(data['friendstatus'] == 'alredysent'){
                    $scope.operationdiv = '<a href="#">cancel request</a>';
                  }else if(data['friendstatus'] == 'addfriend'){
                    $scope.operationdiv = '<a href="#">add friend</a>';
                  }else{
                  $scope.operationdiv = '<a href="#">else option</a>';
                  }

           })
          .error(function(data, status, headers, config) {
               // console.log(data)
          });
    //};
}])
profile_page_info.config(function($interpolateProvider){
$interpolateProvider.startSymbol('[[').endSymbol(']]');
})
*/




