{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Weber Login</title>

	<!-- Stylesheets -->
	<link href="{% static 'css/google_roboto_font.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

	<!-- Optimize for mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="text-align:;width:700px;margin-left:20em;margin-top:12em;">





	<!-- MAIN CONTENT -->
	<div id="content">

		<div class="information-box round">
            <h1>An Activation Link Has Been Sent To Your Gmail</h1>
            <h3>please click on the link to activate your account</h3>
        </div>
        <a href="/theweber.in/login">go to login page</a>

	</div> <!-- end content -->
</body>
</html>