{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Weber Login</title>

	<!-- Stylesheets -->
	<link href="{% static 'css/google_roboto_font.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

	<!-- Optimize for mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
</head>
<body>	
	
	<!-- HEADER -->
	<div id="header">
		
		<div class="page-full-width cf">
	
			<div id="login-intro" class="fl">
			
				<h1>Register Into TheWeber</h1>
				<h5>Your Are Entering Into The Real World</h5>
			
			</div> <!-- login-intro -->
			
			<!-- Change this image to your own company's logo -->
			<!-- The logo will automatically be resized to 39px height. -->
			<a href="#" id="company-branding" class="fr"><img src="images/company-logo.png" alt="Blue Hosting" /></a>
			
		</div> <!-- end full-width -->	

	</div> <!-- end header -->
	
	
	
	<!-- MAIN CONTENT -->
	<div id="content">
	
		<form action="/theweber.in/register" method="POST" id="login-form">
		    {% csrf_token%}
			<fieldset>
				<p>Please Enter Valid Details For Provide More Information</p>
				<p>
					<label for="login-username">Your username</label>
					<input type="text" id="login-username" name="username" placeholder="Please Enter Valid username" class="round full-width-input" autofocus />
				</p>


                <p>
					<label for="login-username">Your email</label>
					<input type="text" id="login-email" name="email" placeholder="Please Enter Valid Email" class="round full-width-input" autofocus />
				</p>


				<p>
					<label for="login-password">Your password</label>
					<input type="password" placeholder="Password Like Wwebsoc@123" name="password" id="login-password" class="round full-width-input" />
				</p>



				
				
				<input type="submit" class="button round blue image-right ic-right-arrow" value="Register Now">

			</fieldset>

			<br/><div class="information-box round">TheWeber Kept Your Registering Details Very Confidential.</div>

		</form>
		
	</div> <!-- end content -->
</body>
</html>