{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Weber Login</title>

	<!-- Stylesheets -->
	<link href="{% static 'css/google_roboto_font.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angularjsapps.js' %}"></script>

    <script src="{% static 'js/angular-resource.js'%}"></script>
    <script src="{% static 'js/angular-route.js' %}"></script>
    <script src="{% static 'js/angularjscntrls.js'%}"></script>
	<!-- Optimize for mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body ng-app="loginapp" ng-controller="validationcntrl">

	<!-- MAIN CONTENT -->
	<div id="content">


		<form  id="login-form" name="loginform" action="/theweber.in/password_reset_success" novalidate method="post">
		    {% csrf_token %}

			<fieldset>

				<p>
					<label for="login-username">Enter new password</label>
					<input type="password" id="login-username" name="password1" placeholder="enter new password " class="round full-width-input" autofocus ng-model="username" required/>
				</p>

				<p>
					<label for="login-password">Re-Enter new password</label>
					<input type="password" id="login-password" name="password2" ng-model="re enter new password" placeholder="Password" class="round full-width-input" required/>
				</p>


				<input type="submit" class="button round blue image-right ic-right-arrow" value="LOG IN">
                <a href="/theweber.in/login">Go to Login page</a>

			</fieldset>


           <p ng-model="formsubmitresponse"></p>

            <span ng-show="loginform.username.$error.required">please enter username</span><br/>
            <span ng-show="loginform.password.$error.required">please enter password</span>
            [[ formsubmitresponse ]]
		</form>

	</div> <!-- end content -->
 </body>
</html>