<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Weber Updateinfo</title>

    <!-- Le styles -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
      <link href="css/bootplus.css" rel="stylesheet">
      <link href="matchme.css" rel="stylesheet">
      <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .hero-unit {
          padding: 60px;
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      </style>
      <link href="css/bootplus-responsive.css" rel="stylesheet">
   </head>

   <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">TheWeber</a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-text pull-right">
              <li class=""> 
                <a href="#" class="navbar-link" id="just"></a>
              </li>
              <li class="active">
                  <div class="btn-group">
                      <a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
                      Surya Muppalla
                      <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                          <li><a tabindex="-1" href="#">Goto Profile</a></li>
                          <li><a tabindex="-1" href="#">Change Settings</a></li>
                          <li><a tabindex="-1" href="#">Privacy</a></li>
                          <li class="divider"></li>
                          <li><a tabindex="-1" href="#">Logout</a></li>
                      </ul>
                  </div>                  
              </li>
            </ul>
            <ul class="nav">
              <li><a href="home.html">Home</a></li>
              <li class="active"><a href="profile.html">Goto Profile</a></li>
              <li><a href="matchme.html">Matchme</a></li>
              <li><a href="messages.html">Messaages</a></li>
              <li><input type="text" id="searchbox" placeholder="search Friends in weber" /></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
                    <div class="card">
                        <div class="row-fluid">

                            <div class="span1">
                            </div>
                            <div class="span5">
                                <img src="veg.jpg" alt="" id="profileimg" />
                            </div>
                            <div class="span1">
                            </div>
                            <div class="span5">
                                <p><a href="" class="btn btn"><strong>Add Friend</strong></a></p>
                                <p>
                                    <a class="fileUpload btn btn">
                                        <strong>Change Picture</strong>
                                        <input type="file" class="upload" />
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                      <ul class="nav nav-list">
                        <a class="nav-header" href="">About You</a>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                                <strong>Name:</strong>&nbsp;&nbsp;&nbsp;Vegeshna satyanarayana raju
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                               <strong>Relationship:</strong>&nbsp;&nbsp;&nbsp;Married
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                                <strong>Comapany:</strong>&nbsp;&nbsp;&nbsp;Websoc software
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                                <strong>Occupation:</strong>&nbsp;&nbsp;&nbsp;CEO Of Websoc Inc..
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                                <strong>Email:</strong>&nbsp;&nbsp;&nbsp;so1ashok@theweber.in
                            </div>
                            </a>
                        </li>
                      </ul> 
                    </div>

                    <div class="card">
                        <div class="row-fluid">
                            <div class="span12">
                                <ul class="nav nav-list">
                                  <a class="nav-header" href="">your Total friends&nbsp;&nbsp;&nbsp;&nbsp;<strong>(200)</strong></a>
                                  <li class="">
                                      <a href="#">
                                      <div class="span2">
                                          <img src="photo.jpg" width="46" height="46" alt="" id="showfriend"/>
                                      </div>
                                      <div class="span8">
                                          Surya Muppalla
                                      </div>
                                      </a>
                                  </li>
                                  <li class="">
                                      <a href="#">
                                      <div class="span2">
                                          <img src="ashok.jpg" width="46" height="46" alt="" id="showfriend"/>
                                      </div>
                                      <div class="span8">
                                          Ashok Gajapathi raju
                                      </div>
                                      </a>
                                  </li>
                                  <li class="">
                                      <a href="#">
                                      <div class="span2">
                                          <img src="photo.jpg" width="46" height="46" alt="" id="showfriend"/>
                                      </div>
                                      <div class="span8">
                                          ashok bathu gajapathi
                                      </div>
                                      </a>
                                  </li>
                                  <li class="">
                                      <a href="#">
                                      <div class="span2">
                                          <img src="veg.jpg" width="46" height="46" alt="" id="showfriend"/>
                                      </div>
                                      <div class="span8">
                                          Vegeshna satyanarayana
                                      </div>
                                      </a>
                                  </li>
                                  <li class="">
                                      <a href="#">
                                      <div class="span2">
                                          <img src="photo.jpg" width="46" height="46" alt="" id="showfriend"/>
                                      </div>
                                      <div class="span8">
                                          ashok bathu gajapathi
                                      </div>
                                      </a>
                                  </li>
                              </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row-fluid">
                            <div class="span12">
                                <ul class="nav nav-list">
                                  <a class="nav-header" href="">Freaquently Matched&nbsp;&nbsp;&nbsp;&nbsp;<strong>(30)</strong></a>
                                  <li class="">
                                      <a href="#">
                                      <div class="span2">
                                          <img src="photo.jpg" width="46" height="46" alt="" id="showfriend"/>
                                      </div>
                                      <div class="span10">
                                          <strong>Surya Muppalla</strong>&nbsp;&nbsp;matched freaquently
                                      </div>
                                      </a>
                                  </li>
                                  <li class="">
                                      <a href="#">
                                      <div class="span2">
                                          <img src="ashok.jpg" width="46" height="46" alt="" id="showfriend"/>
                                      </div>
                                      <div class="span10">
                                          <strong>Ashok  raju</strong>&nbsp;&nbsp;matched freaquently
                                      </div>
                                      </a>
                                  </li>
                                  <li class="">
                                      <a href="#">
                                      <div class="span2">
                                          <img src="photo.jpg" width="46" height="46" alt="" id="showfriend"/>
                                      </div>
                                      <div class="span10">
                                          <strong>ashok bathu </strong>&nbsp;&nbsp;matched freaquently  
                                      </div>
                                      </a>
                                  </li>
                                  <li class="">
                                      <a href="#">
                                      <div class="span2">
                                          <img src="veg.jpg" width="46" height="46" alt="" id="showfriend"/>
                                      </div>
                                      <div class="span10">
                                          <strong>Vegeshna </strong>&nbsp;&nbsp;matched freaquently 
                                      </div>
                                      </a>
                                  </li>
                                  <li class="">
                                      <a href="#" class="btn">
                                      <div class="span12">
                                          <strong>See More Matched People>></strong>
                                      </div>
                                      </a>
                                  </li>
                              </ul>
                            </div>
                        </div>
                    </div>


        </div><!--/span-->

        <div class="span6">

            <!--<div class="row-fluid">

                <div class="span12">
                    <div class="card">
                      <ul class="nav nav-list">
                        <li class="nav-header"><strong>Your Total Posts In Weber</strong></li>
                        
                      </ul> 
                    </div>
                </div><!--/span-->
            <!--</div><!--/row-fluid-->

            <div class="row-fluid">
                <div class="span12">
                    <div class="card">
                      <div class="card-body">
                        <h4><strong>Please Enter Your Updated Information</strong></h4>
                        <p>
                          <strong>Your Name:</strong></a>&nbsp;&nbsp;&nbsp;
                          <input type="text" id="searchbox" placeholder="Enter Your Name" />
                        </p>
                        <p>
                          <strong>Your Email:</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
                          <input type="text" id="searchbox" placeholder="Enter Your Valid Email" />
                        </p> 
                        <p>
                          <strong>Relationship:</strong></a>
                          <input type="text" id="searchbox" placeholder="Enter The relation About You" />
                        </p> 
                        <p>
                          <strong>Occupation:</strong></a>&nbsp;&nbsp;
                          <input type="text" id="searchbox" placeholder="Enter Your Occupation" />
                        </p>  
                        <p>
                          <a href="" class="btn"><strong>Update Information</strong></a>&nbsp;&nbsp;&nbsp;
                          <a href="" class="btn"><strong>Cancel Update</strong></a>
                        </p>
                      </div>
                    </div>
                </div><!--/span-->

              </div><!--/row-->
        </div>
        <div class="span3" id="chat" style="display:none;">
          <div class="row-fluid">
            <div class="span12">
               <div class="card">
                    <ul class="nav nav-list">
                        <a class="nav-header" href="">Friends In chat&nbsp;&nbsp;&nbsp;&nbsp;<strong>(15)</strong></a>
                        <li class="">
                            <a href="#">
                            <div class="span2">
                                <img src="photo.jpg" width="46" height="46" alt="" id="imgset"/>
                            </div>
                            <div class="span10">
                                Surya Muppalla
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span2">
                                <img src="ashok.jpg" width="46" height="46" alt="" id="imgset"/>
                            </div>
                            <div class="span10">
                                Ashok Gajapathi raju
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span2">
                                <img src="photo.jpg" width="46" height="46" alt="" id="imgset"/>
                            </div>
                            <div class="span10">
                                ashok bathu gajapathi
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span2">
                                <img src="veg.jpg" width="46" height="46" alt="" id="imgset"/>
                            </div>
                            <div class="span10">
                                Vegeshna satyanarayana
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span2">
                                <img src="surya.jpg" width="46" height="46" alt="" id="imgset"/>
                            </div>
                            <div class="span10">
                                surya mupplla
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span2">
                                <img src="ashok.jpg" width="46" height="46" alt="" id="imgset"/>
                            </div>
                            <div class="span10">
                                ashok bathu gajapathi
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span2">
                                <img src="photo.jpg" width="46" height="46" alt="" id="imgset"/>
                            </div>
                            <div class="span10">
                                surya muppalla
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span2">
                                <img src="veg.jpg" width="46" height="46" alt="" id="imgset"/>
                            </div>
                            <div class="span10">
                                satya narayana
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span2">
                                <img src="ashok.jpg" width="46" height="46" alt="" id="imgset"/>
                            </div>
                            <div class="span10">
                                ashok bathu gajapathi
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span2">
                                <img src="surya.jpg" width="46" height="46" alt="" id="imgset"/>
                            </div>
                            <div class="span10">
                                surya muppalla
                            </div>
                            </a>
                        </li>
                    </ul>
               </div>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

        <div class="span3" id="notifications">
          <div class="row-fluid">
                <div class="span12">
                    <div class="card">
                      <ul class="nav nav-list">
                        <a class="nav-header" href="">Notifications of you&nbsp;&nbsp;<strong style="color:lightcoral;">(20)</strong></a>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                               >>&nbsp; websoc software tech commented on you
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                                >>&nbsp;satya narayana is going to movie
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                                >>&nbsp;ashok bathu gajapathi commented on your photo
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                               >>&nbsp; surya muppalla going to bengalore
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                                >>&nbsp;ashok bathu gajapathi commented on your photo
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                               >>&nbsp; surya muppalla going to bengalore
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                               >>&nbsp; ashok bathu gajapathi commented on your photo
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                                >>&nbsp;surya muppalla going to bengalore
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                                >>&nbsp;ashok bathu gajapathi commented on your photo
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                              >>&nbsp;  surya muppalla going to bengalore
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                                >>&nbsp;satya narayana going to movie
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                            <div class="span12">
                               >>&nbsp; ashok bathu gajapathi commented on photo of you
                            </div>
                            </a>
                        </li>
                      </ul> 
                    </div>
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/span-->
    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/matchme.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
    

   </body>
</html>
