{% if action == 'loadscrollposts' %}
{% for temp_posts in load_remain_posts %}
        <div class="mes" id="{{temp_posts.id}}">
        <div class="row-fluid">
                <div class="span12">
                    <div class="card">
                        <div class="card-heading image">
                           <img src="photo.jpg" width="46" height="46" alt=""/>
                           <div class="card-heading-header" style="border-bottom:1px solid lightgray;">
                              <h3><strong>{{temp_posts.username}} </strong></h3>
                              Location:
                                    <span><a href="">Miyapur</a></span>
                                    <small>&nbsp;&nbsp;&nbsp;date:<span><a href="">{{temp_posts.publish_date}}</a></span></small>
                           </div>
                        </div>
                        <div class="card-body">
                           <p>{{ temp_posts.title}}</p>
                           <p>
                              <a href="" class="btn btn-primary"><strong>Delete Post</strong></a>&nbsp;&nbsp;&nbsp;
                              <a href="" class="btn btn-success"><strong>Write Comment</strong></a>&nbsp;&nbsp;&nbsp;
                              <a href="" class="btn btn-warning"><strong>Follow Post</strong></a>
                           </p>
                        </div>
                    </div>
                </div><!--/span-->
         </div><!--/row-->
         </div>
 {% endfor %}
 {% endif %}
{% if action == 'searchfriendsnames' %}
{% if matched_friends.count > 0 %}
        {% for User in matched_friends %}
        {% csrf_token %}
            <li onclick="profile('{{User.email}}')"><a  href="/theweber.in/profile/{{User.username}}/">{{ User.username}}</a></li>
        {% endfor %}
{% else %}
        <li>None to show</li>
{% endif %}
{% endif %}
{% if action == 'new_post_posted' %}
        <div class="row-fluid">
                <div class="span12">
                    <div class="card">
                        <div class="card-heading image">
                           <img src="photo.jpg" width="46" height="46" alt=""/>
                           <div class="card-heading-header" style="border-bottom:1px solid lightgray;">
                              <h3><strong>{{up.username}} </strong></h3>
                              Location:
                                    <span><a href="">Miyapur</a></span>
                                    <small>&nbsp;&nbsp;&nbsp;date:<span><a href="">{{up.publish_date}}</a></span></small>
                           </div>
                        </div>
                        <div class="card-body">
                           <p>{{ up.title}}</p>
                           <p>
                              <a href="" class="btn btn-primary"><strong>Delete Post</strong></a>&nbsp;&nbsp;&nbsp;
                              <a href="" class="btn btn-success"><strong>Write Comment</strong></a>&nbsp;&nbsp;&nbsp;
                              <a href="" class="btn btn-warning"><strong>Follow Post</strong></a>
                           </p>
                        </div>
                    </div>
                </div><!--/span-->
        </div><!--/row-->

{% endif %}
{% if action == 'ok' %}
        <div>{{e}}</div>
{% endif %}

